<!-- <input type="text" (ngModelChange)="convertToFehrenheit($event,'c')" [(ngModel)]="title"  >
<br>
<input type="text" (ngModelChange)="convertToFehrenheit($event,'f')" [(ngModel)]="output"  >
<hr> -->
   
    <div class="card  p-0 m-0" style="background-repeat: no-repeat;background-size: cover;  background-image: url('../assets/cool-background.png') ; width: 100vw; height: 100vh;">
    <div class="container text-light text-center" style="padding: 20px; margin-bottom: 2rem; width: 18rem;">
        <div class="row">
            <h1>Weather App</h1>
        </div>
         <div class="row align-items-center">
            <div class="col">
             <input type="text" class="form-control " [(ngModel)]="city">
             <button class="btn btn-primary mt-4" (click)="getWeather()">Get Weather</button>
              
            </div>
         </div>
     </div>
     <div class="container " style="width: fit-content;">
         <div *ngIf="weatherData" class="card  mt-4 row" style="text-justify:center;width: fit;margin: 3rem; box-shadow: 12px -18px 6px #333;">
             <div class="card-title col-12 text-dark text-center">
                 <h2 class="text-success">{{weatherData.name|titlecase}}</h2>
                 <h4>Weather type: {{weatherData.weather[0]['main']}}</h4>
                 <h4>Current Temperature : {{(weatherData["main"]["temp"]-273.15 | number:'1.0-0' )}} celcius</h4>
                 <h4>Feels Like : {{(weatherData["main"]["feels_like"]-273.15 | number:'1.0-0' )}} celcius</h4>
                 <h4>Humidity : {{(weatherData["main"]["humidity"] )}}</h4>
             </div>
             </div>
     </div>
</div>

<!-- { "coord": { "lon": 77.2167, "lat": 28.6667 },
 "weather": [ { "id": 701, "main": "Mist", 
 "description": "mist", "icon": "50n" } ],
  "base": "stations", "main": { "temp": 284.2, 
  "feels_like": 283.79, "temp_min": 284.2, 
  "temp_max": 284.2, "pressure": 1018, "humidity": 93 },
   "visibility": 1000, "wind": { "speed": 0, "deg": 0 }, 
   "clouds": { "all": 20 }, "dt": 1642170579,
    "sys": { "type": 1, "id": 9165, "country": "IN", 
    "sunrise": 1642124702, "sunset": 1642162478 }, 
    "timezone": 19800, "id": 1273294, "name": "Delhi",
     "cod": 200 } -->